###################
# GitHub Packages #
###################

# scope別レジストリ指定
@trusquetta:registry=https://npm.pkg.github.com/trusquetta
# Personal access token - Permissions: package:read / package:write
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}